@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  height: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1519px;
  width: 97%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
 header .wrapper {
  width: 100%;
  display: flex;
  align-items: center;
 }

 header h1 {
   margin-left: 1.8%;
 }

header img {
  width: 161px;
  height: 42px;
}
 
.hamburger,
.cross {
  display: none;
  text-indent: -9999px; 
}

.hamburger::before,
.cross::before {
  content: "\f0c9";
  float: right;
  color: #000;
  font-family: "fontAwesome";
  text-indent: 0;
}

.cross::before {
  content: "\f00d";
}

.menus {
  width: 65.3%;
  padding-right: 42px;
}

.menus ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menus ul li {
  color: #000;
  font-size: 21px;
}

.menus ul li a {
  color: #000;
  font-size: 19px;
  font-weight: bold;
}

.menus ul li a:hover {
  color: #ffa500;
}

.menus ul li:first-child {
  margin-left: 4.3%;
}

.menus ul li:first-child a {
  white-space: nowrap;
}

.menus ul li:nth-child(2) {
  margin-left: 3.5%;
  flex-basis: 14%;
}


.menus ul li:nth-child(3) {
  flex-basis: 15%;
}

 .menus ul li:nth-child(4) {
  margin-left: 0.1%;
  flex-basis: 11%;
}

 .menus ul li:nth-child(5) {
  margin-left: 1.4%;
} 

 .menus ul li:nth-child(6) {
  background: #794F73;
  flex-basis: 17.4%;
  text-align: center;
  margin-right: 0;
} 

 .menus ul li:nth-child(7) {
  background: gray;
  flex-basis: 5.4%;
  text-align: center;
} 

.action-buttons {
  display: flex;
}

.action-buttons li:nth-child(1) {
  text-align: center;
  background: #794F73;
  padding: 46px 53px;
}

.action-buttons li:nth-child(2) {
  background: #526069;
  padding: 46px 10px;
}

.action-buttons li a {
  color: #fff;
  font-size: 18px;
}

.action-buttons li:nth-child(2) a {
  padding: 1px;
  font-size: 15px;
}




/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/* banner styling starts  */

.banner {
  position: relative;
}

.liber-institute {
  width: 100%;
  padding: 35px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.4);
  color: #fff;
}

.liber-institute .wrapper {
 text-align: center;
}

.liber-institute h2 {
  width: 33%;
  margin: auto;
  font-size: 42px;
  line-height: 59px;
  letter-spacing: 1px;
}

.liber-institute p {
  margin-top: 7px;
  font-size: 26px;
}

.liber-institute a {
  padding: 20px 104px;
  margin-top: 25px;
  border: 5px solid #fff;
  border-radius: 36px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  box-sizing: border-box;
 
}

/* banner styling ends  */
/* mission section start  */

.mission-title .wrapper {
  display: flex;
  align-items: center;
}

.mission-title figure {
  margin-left: 27.7%;
}

.mission-title h3 {
  margin-left: 32px;
  font-size: 32px;
}

.video {
  margin-top: 83px;
}

.video .wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

.play-button {
  position: absolute;
  top: 46%;
  left: 48%;
  text-indent: -9999px;
}

.play-video {
  width: 991px;
  height: 559px;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}

.play-video video {
  width: 100%;
  height: 100%;
}

.video figure {
  width: 991px;
  height: 559px;
}

.play-button::before {
  content: "\f144";
  float: right;
  color: #000;
  font-family: "fontAwesome";
  font-size: 72px;
  text-indent: 0;
  cursor: pointer;
}

/* mission section end  */
/* our content start  */

.our-contents .wrapper {
  padding: 114px 0;
  display: flex;
  flex-wrap: wrap;
  row-gap: 53px;
}

.content {
  padding: 104px 59px 105px;
  position: relative;
  flex-basis: 31.7%;
  background: #794F73;
}


.content h3 {
  width: 87%;
  color: #fff;
  font-size: 50px;
}

.content p {
  width: 77%;
  margin-top: 9px;
  font-size: 28px;
  color: #D3A9D1;
  line-height: 40px;
}

.content a {
  margin-top: 7px;
  font-size: 35px;
  text-indent: -9999px;
}

.content a::before {
  content: "\f18e";
  float: right;
  color: #fff;
  font-family: "fontAwesome";
  text-indent: 0;
}


.content-icon {
  padding: 8% 9.5%;
  border: 4px solid #794F73;
  border-radius: 100%;
  position: absolute;
  top: 23.9%;
  right: -17.6%;
  display: inline-block;
  background-color: #fff;
}

.mission-content,.drug-content {
  margin-right: 13.2%;
}

.content-icon a{
  text-indent: -9999px;
}

.content-icon a::before{
  content: "\f254";
  float: right;
  color: #E2BFDD;
  font-family: "fontAwesome";
  font-size: 100px;
  text-indent: 0;
}

/* our content end  */
/* brain section start  */

.brains {
  position: relative;
}

.brains .wrapper {
  width: 70%;
}

.brain-content {
  position: absolute;
  top: 79px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.brain-image figure {
  width: 268px;
  height: 230px;
  border: 1px solid;
}

.brain-text h3{
  font-size: 210px;
}

.brain-text p {
  width: 88%;
  margin-top: 17px;
  font-size: 29px;
  line-height: 37px;
}

.brain-text a {
  margin-top: 45px;
  padding: 25px 36px;
  border: 1px solid rgb(0,0,0,0.3);
  background: #fff;
  color: #CF1B40;
}

.see-what::after {
  content: "\f18e";
  margin-left: 13px;
  vertical-align: middle;
  font-size: 23px;
  font-family: "fontAwesome";
}
  
  .content-icon a::before{
    content: "\f254";
    float: right;
    color: #E2BFDD;
    font-family: "fontAwesome";
    font-size: 100px;
    text-indent: 0;
  }

/* brain section end  */
/* upcoming events start  */
.upcoming-events .wrapper {
  padding: 91px 0 4px;
  display: flex;
  justify-content: space-between;
}

.event-title {
  flex-basis: 63.6%;
}

.event-title h3 {
  color: #DE244D;
  font-size: 34px;
  font-weight: bold;
}

.event-title h4 {
  margin-top: 46px;
  font-size: 31px;
  font-weight: bold;
}

.event-title p {
  margin-top: 18px;
  font-size: 23px;
}

.event-info {
  padding: 4.6% 10.1%;
  margin-top: 78px;
  background-color: #71BACB;
}

.event-info span {
  display: block;
  font-size: 78px;
  font-weight: bold;
  letter-spacing: 1px;
}

.event-info span:nth-child(2) {
  margin-top: 10px;
  display: block;
  color: #fff;
  font-size: 23px;
}

.event-info span:nth-child(3) {
  margin-top: 2px;
  color: #fff;
  font-size: 23px;
}

.event-info a {
  margin-top: 11px;
  text-indent: -9999px;
}

.event-info a::before {
  content: "\f18e";
  float: right;
  color: #fff;
  font-family: "fontAwesome";
  font-size: 39px;
  text-indent: 0;
}

/* upcoming events end  */


/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

.footer-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-icons li {
  padding: 13px 0;
  flex-basis: 25%;
  background-color: #5670A9;
  text-align: center;
}

.footer-icons li:nth-child(2) {
  background-color: #4BB8F0;
}

.footer-icons li:nth-child(3) {
  background-color: #3377B4;
}

.footer-icons li:nth-child(4) {
  padding: 19px;
  background-color: #E31E53;
}

.footer-icons li a {
  text-indent: -9999px;
}

.footer-icons li:nth-child(4) a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-indent: 0;
  text-transform: uppercase;
}
.footer-icons li a:hover {
  color: #ff0000;
}


.footer-icons li a::before {
  content: "\f09a";
  float: right;
  color: #DCDCDC;
  font-family: "fontAwesome";
  font-size: 37px;
  text-indent: 0;
}

.footer-icons li a:hover:before {
  color: red;
}

.footer-icons li:nth-child(2) a:before {
  content: "\f099";
}

.footer-icons li:nth-child(3) a:before {
  content: "\f16d";
}

.footer-icons li:nth-child(4) a:before {
  content: "\f0e0   \f061";
  margin-right: 7px;
  float: left;
  font-size: 25px;
}


.footer-info {
  padding: 54px 0;
  text-align: center;
}

.footer-info figure {
  width: 145px;
  height: 86px;
  margin: auto;
}

.footer-info address {
  margin-top: 20px;
  margin-bottom: 2px;
}

.footer-info p {
  line-height: 26px;
}


 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {

  header .wrapper,.mission-title .wrapper,.our-contents .wrapper,.upcoming-events .wrapper {
    flex-direction: column;
    row-gap: 20px;
  }

  .content {
    margin-right: 0;
  }

  .liber-institute,.content-icon,.brain-content {
    display: none;
  }

  .footer-icons li:nth-child(4) a:before {
    font-size: 12px;
  }

}  